<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("head")%>
        <title>Home</title>
    <link rel="stylesheet" href="/css/listsp.css">

    <%-include("ngoc_head")%>
    <!-- css body home -->
    <link rel="stylesheet" href="/css/body_home.css">

</head>

<body>
    <header class="my-header">
        <%-include("ngoc_header")%>
    </header>
    <div class="my-navbar">
        <%-include("ngoc_navbar")%>
    </div>
    <%-include("body_home")%>
    <footer class="footer">
        <%-include("ngoc_footer")%>
    </footer>

<!--    modal form account login-->
    <%-include("modal_form_login")%>

</body>

</html>