<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("head")%>
        <title>Mua Hàng Trả Góp</title>
    <%-include("ngoc_head")%>
    <link rel="stylesheet" href="./css/sub_header.css">
    <style>
        .my-body-section {
            margin: 40px 0;
        }
    </style>
</head>

<body>
    <header>
        <%-include("ngoc_header")%>
        <!--    modal form account login-->
        <%-include("modal_form_login")%>
    </header>
    <div class="hang-chinh-hang">
        <p>Hàng chính hãng, đảm bảo nguồn gốc xuất xứ rõ ràng....</p>
        <p>Hàng chính hãng, đảm bảo nguồn gốc xuất xứ rõ ràng....</p>
    </div>
    <footer class="footer">
        <%-include("ngoc_footer")%>
    </footer>

</body>

</html>