<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("head")%>
        <title>Chính Sách Bảo Hành</title>
    <%-include("ngoc_head")%>
    <link rel="stylesheet" href="./css/sub_header.css">
    <style>
        .my-body-section {
            margin: 40px 0;
        }

        h2{
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }


        .page__headind span {
            font-size: 14px;
        }


        h3 {
            font-size: 16px;
        }
        span {
            font-weight: 600;
            margin: 8px 0;
        }
    </style>
</head>

<body>
    <header>
        <%-include("ngoc_header")%>
        <!--    modal form account login-->
        <%-include("modal_form_login")%>
    </header>
    <div class="my-body-section">

        <div class="page__headind">
            <h2>
                CHÍNH SÁCH BẢO HÀNH<br>
                <span><i>(Hiệu lực từ ngày 01/07/2017)</i></span>
            </h2>

        </div>

        <h3 class="page__sub-heading">1. Mục đích</h3>


        <p>- Nhằm đảm bảo quyền lợi và lợi ích của khách hàng trong việc sử dụng các sản phẩm tại Hệ thống Siêu thị điện máy VHC. Đảm bảo hàng hóa của Công ty không bị suy giảm giá trị khi phát sinh sự cố phải thực hiện bảo hành.</p>
        <h3 class="page__sub-heading">2. Phạm vi</h3>

        <p>- Được áp dụng với tất cả sản phẩm (Của khách hàng và nội bộ) không vi phạm điều kiện và chính sách bảo hành của Hãng/NCC.</p>
        <h3 class="page__sub-heading">3. Định nghĩa</h3>

        <p>- Bảo hành sản phẩm: Khắc phục những lỗi hỏng hóc, sự cố kỹ thuật xảy ra do lỗi của nhà sản xuất. </p>
        <p>- Bảo trì, bảo dưỡng: Bao gồm lau chùi sản phẩm, quét virus, cài đặt các chương trình, nạp ga, rửa lưới lọc, quét bụi bên trong, sửa chữa những hỏng hóc nhỏ có thể sửa được (không bao gồm thay thế thiết bị). Thời gian và chi phí (nếu có) bảo trì, bảo dưỡng tùy thuộc vào sự thỏa thuận giữa VHC và Quý khách hàng.</p>
        <h3 class="page__sub-heading">4. Nội dung quy định</h3>

        <span>4.1. Cam kết về chính sách bảo hành</span>
        <span>- Tất cả các sản phẩm Điện tử, Điện lạnh, Đồ Gia dụng, IT-Mobile sẽ được bảo hành theo đúng các quy định, chính sách chung của các Hãng, NCC, Nhà phân phối.</span>

        <p>Trường hợp lý do nào đó mà Hãng/NCC/ Nhà phân phối chậm trả hàng đã xử lý cho quý khách thì Siêu thị điện máy HC (công ty VHC) sẽ có trách nhiệm kiểm tra, cập nhật thông tin về tình trạng xử lý, thúc giục, đàm phán với Hãng/NCC để hỗ trợ khách hàng</p>

        <p><span>- Trong một số tình huống đặc biệt, khách hàng sẽ được áp dụng một số chính sách sau:</span></p>

        <p><i>* Hãng/Nhà cung cấp có thể phối hợp với siêu thị điện máy HC xuất mượn hàng cho Quý khách (nếu HC có sẵn hàng cho mượn).</i></p>

        <p><i>* Sản phẩm sau khi gửi hãng/NCC có thể được trả sang một sản phẩm cùng loại tương đương hoặc mới hơn chứ không phải chính xác cái ban đầu khách hàng gửi.</i></p>

        <p><i>* Trường hợp sản phẩm hỏng của Quý khách không thể sửa chữa được mà không còn trên thị trường thì chúng tôi sẽ đổi cho quý khách sản phẩm khác hoàn toàn tương đương với sản phẩm cũ nhưng ở tình trạng hoạt động tốt. Trường hợp quý khách chưa ưng ý với sản phẩm thay thế tương đương thì siêu thị HC sẽ làm việc với Hãng/NCC để có thể nhập lại theo giá quy định của Hãng/NCC hoặc thỏa thuận của cả hai bên hoặc theo giá thị trường của thiết bị tương đương.</i></p>

        <p><span>4.2. Qui định về thời gian hỗ trợ khách hàng thực hiện bảo hành (cả nội bộ cả khách hàng)</span></p>
        <p>- Thời gian từ khi sản phẩm nhận vào kho Bảo hành Chi nhánh đến khi chuyển sang trạm bảo hành của Hãng/NCC tại địa phương xử lý – Không quá 24h.</p>
        <p>- Trường hợp bắt buộc phải chuyển Phòng DVKH 399 xử lý, thời gian từ khi sản phẩm nhận vào kho Bảo hành Chi nhánh đến khi được chuyển đi Phòng DVKH 399 – Không quá 3 ngày. Trong trường hợp quá 3 ngày không có xe nội bộ điều chuyển và/hoặc trong các trường hợp cần xử lý ngay thì HO/Chi nhánh chủ động gửi CPN/ xe vận chuyển bên ngoài Công ty.</p>
        <p>- Hàng bảo hành của Chi nhánh gửi Ban Kho vận/ Phòng DVKH 399 – Trong vòng 24h, kể từ khi nhập kho bảo hành, phải chuyển hãng xử lý.<br></p>
        <p>- Tổng thời gian xử lý sản phẩm nhận, trong trường hợp không phải chờ linh kiện thay thế – Tối đa 15 ngày. Các trường hợp vượt quá 15 ngày GĐ/PGĐ CN có trách nhiệm trực tiếp cùng các Ban KD/ TP DVKH 399 xử lý và xin hỗ trợ từ Ban TGĐ (nếu cần thiết).</p>

        <span>- Các mốc thời hạn quy định ở trên không bao gồm Thứ Bảy, Chủ nhật, và các ngày nghỉ lễ, tết. - Thời gian tối đa yêu cầu các Trung tâm bảo hành hãng hoàn thành việc xử lý kể từ ngày nhận được sản phẩm chuyển đến là 15 ngày. Các trường hợp vượt quá thời hạn này Chi nhánh phải báo cáo cho Giám đốc các Ban KD để có phương án tức thời cho khách hàng (Mượn, đổi sản phẩm OK, đổi sản phẩm khác tương đương ...) và nhờ hỗ trợ xử lý theo quy trình bảo hành.</span></p>

        <p><span>4.3. Địa điểm thực hiện bảo hành, bảo trì</span></p>
        <p>- Loại trừ các sản phẩm thuộc danh mục sản phẩm được hãng/NCC bảo hành/bảo trì tại nhà, nếu trong hợp đồng hay biên bản bàn giao hàng hóa, hoặc phiếu bảo hành không được ghi thỏa thuận bảo hành/bảo trì sản phẩm tại địa chỉ quý khách hàng đã đăng ký hoặc tại Trung tâm bảo hành VHC thì tất cả các sản phẩm này được bảo hành tại Trung tâm bảo hành của Hãng. Quý khách hàng có thể liên hệ với nhân viên Trung tâm bảo hành VHC để được hướng dẫn thêm thông tin (nếu cần).</p>

        <p><span>4.4. Những trường hợp không nằm trong phạm vi được bảo hành miễn phí của hãng/NCC:</span></p>
        <p>- Sản phẩm đã hết thời hạn bảo hành.</p>
        <p>- Phiếu bảo hành, tem bảo hành bị rách, không còn tem bảo hành, tem bảo hành dán đè, hoặc tem bảo hành bị sửa đổi (kể cả tem bảo hành gốc). (Không tính các trường hợp đã được bảo hành điện tử)</p>
        <p>- Các loại linh, phụ kiện tách rời kèm theo sản phẩm như: Micro, cable, nắn dòng, công tắc nguồn, đèn tín hiệu, tai nghe theo thiết bị, điều khiển từ xa ....</p>
        <p>- Các dữ liệu, tài liệu, văn bản và phần mềm cung cấp miễn phí, lưu trữ kèm theo sản phẩm (kể cả trong thời gian gửi bảo hành).</p>
        <p>- Số mã vạch, số serial trên sản phẩm không xác định được hoặc sai so với Phiếu bảo hành.</p>
        <p>- Sản phẩm bị tự ý tháo dỡ, sửa chữa bởi các cá nhân hoặc kỹ thuật viên không phải là nhân viên của hãng/NCC/ Siêu thị điện máy HC.</p>
        <p>- Sản phẩm bị cháy nổ hay hỏng hóc do tác động cơ học, biến dạng, rơi, vỡ, va đập, bị xước, bị hỏng do ẩm ướt, hoen rỉ, chảy nước, động vật xâm nhập vào, thiên tai, hoả hoạn, sử dụng sai điện áp quy định.</p>
        <p>- Hư hỏng đối các trường hợp riêng như CPU cong hoặc gãy chân, ổ cứng nứt, vỡ IDE, cháy nổ, rơi móp méo, mờ chữ trên lưng ổ, bong tem bạc, mạch hoen rỉ, oxy hoá;</p>
        <p>- Trường hợp sản phẩm của quý khách hàng dán tem bảo hành của công ty VHC hay nhầm lẫn thông tin trên Phiếu bảo hành, Phiếu mua hàng: Trong trường hợp này bộ phận bảo hành sẽ đối chiếu với số phiếu xuất gốc lưu tại công ty, hóa đơn, phần mềm của công ty hay thông tin của nhà phân phối, hãng, các quý khách hàng khác mua cùng sản phẩm cùng thời điểm, nếu có sự sai lệch thì sản phẩm của quý khách hàng không được bảo hành (có thể tem bảo hành của công ty bị thất thoát và bị lợi dụng dán lên thiết bị hay nhầm lẫn nhỏ khi nhập, in ra).</p>
        <p>- Một số trường hợp đặc biệt của từng nhà sản xuất như các loại máy in kim, in phun, in laze của các hãng Epson, HP, Canon... không bảo hành: băng mực, hộp mực, lô sấy, đầu kim... và không bảo hành khi có dấu hiệu côn trùng vào trong máy. Tất cả các trường hợp trên đều theo quy chuẩn, chính sách chung của hãng, nhà sản xuất.</p>

        <p><span>4.5. Quy định hỗ trợ khách hàng liên quan đến việc bảo trì/ sử dụng sản phẩm:</span></p>
        <p>- Khi có bất cứ trục trặc gì về sản phẩm, kể từ khi nhận được thông báo, trong vòng 02 giờ làm việc hành chính, nhân viên siêu thị HC sẽ gọi điện thoại liên hệ với quý khách để hướng dẫn quý khách kiểm tra, hỗ trợ quý khách chuyển thông tin cho hãng/NCC và tìm cách khắc phục sự cố.</p>
        <p>- Nếu thời gian thông báo của Quý khách ngoài giờ làm việc, chúng tôi sẽ chuyển thông tin tiếp nhận này đến đầu giờ làm việc hôm sau để xử lý.</p>
        <p>- Trong một số trường hợp và điều kiện cho phép, nếu sản phẩm của khách hàng không khắc phục được sự cố ngay mà phải chờ hãng thực hiện việc bảo hành thì chúng tôi sẽ cố gắng tìm cách xuất cho khách hàng mượn sản phẩm khác (nếu có sẵn hàng cho mượn).</p>
        <p><span>- Đối với các trường hợp sản phẩm đã được khách hàng mua phát sinh các lỗi thường gặp trong quá trình sử dụng:</span></p>

        <p><i>  * Khách hàng sẽ được hướng dẫn cách sử dụng, xử lý miễn phí tại Phòng Dịch vụ khách hàng/ hoặc sàn bán hàng của siêu thị HC.</i></p>

        <p><i>  * Trong vòng 30 ngày kể từ ngày mua hàng, với các sản phẩm được hãng bảo hành, bảo trì tại nhà, khách hàng sẽ được hỗ trợ xử lý tại nhà miễn phí.</i></p>

        <p><i>  * Sau 30 ngày kể từ ngày mua hàng, nếu khách hàng yêu cầu siêu thị HC gửi nhân viên đến nhà để trực tiếp hướng dẫn khách hàng sử dụng sản phẩm, hỗ trợ xử lý các lỗi thường gặp trong quá trình sử dụng thì khách hàng sẽ phải thanh toán cho siêu thị HC phí dịch vụ cho mỗi lần siêu thị HC cho nhân viên đến hỗ trợ khách hàng trực tiếp tại nhà. Siêu thị HC sẽ xuất phiếu biên nhận phí dịch vụ cho khách hàng và khách hàng có trách nhiệm thanh toán tiền trực tiếp cho NV của siêu thị cử đến hỗ trợ.</i></p>

        <p><i>  * Phí dịch vụ là 100,000đ/ lần nếu khoảng cách từ siêu thị đến nhà KH không vượt quá 30km. Khách hàng phải trả thêm 2,500đ/km cho mỗi km vượt quá.</i></p>

        <p><span>Các lỗi thường gặp trong quá trình sử dụng: Là các lỗi làm ảnh hưởng đến khả năng sử dụng/tình trạng hoạt động bình thường của sản phẩm mà không phải do sản phẩm bị lỗi kỹ thuật của nhà sản xuất như: Mất kết nối sản phẩm với thiết bị khác, không vào mạng, Tivi không lên hình, mất tiếng, lỗi kênh, Tủ lạnh rung kêu do di chuyển vị trí, máy giặt rung lắc khi vắt, nước cấp không vào máy giặt do nguồn bẩn làm tắc lưới lọc, các trường hợp chuột, côn trùng cắn đứt dây điện, mạch điều khiển .......</span></p>
    </div>
    <footer class="footer">
        <%-include("ngoc_footer")%>
    </footer>

</body>

</html>