<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("head")%>
        <title>Mua Hàng Trả Góp</title>
    <%-include("ngoc_head")%>
    <link rel="stylesheet" href="./css/sub_header.css">
    <style>
        .my-body-section {
            margin: 40px 0;
        }
        h2 {
            font-weight: 600;
            font-size: 20px;
            text-align: center;
        }

        h3 {
            font-size: 16px;
        }
        span {
            font-weight: 600;
            margin: 8px 0;
        }
        .page__img{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 18px;
        }
        table,tr,th,td {
            text-align: center;
            border: 1px solid #333;
            border-collapse: collapse;
        }
        table{
            margin-bottom: 18px;
        }
    </style>
</head>

<body>
    <header>
        <%-include("ngoc_header")%>
        <!--    modal form account login-->
        <%-include("modal_form_login")%>
    </header>
    <div class="my-body-section">
        <div class="page__headind">
            <h2>MUA HÀNG TRẢ GÓP TẠI SIÊU THỊ ĐIỆN MÁY HE</h2>
        </div>
        <div class="page-content">

            <span>Trong những năm gần đây, hình thức mua hàng trả góp ngày càng phổ biến và nhận được sự ủng hộ của nhiều khách hàng. Đây là hình thức mua hàng mà người mua không cần phải trả toàn bộ số tiền cần trả trong một lần và có thể thanh toán theo kỳ hạn ( từ 6 - 18 tháng…) với nhiều mức lãi suất được quy định khác nhau (có thể trả góp lãi suất 0%).</span>
            <p>Trên thị trường hiện có rất nhiều đối tác trả góp được khách hàng tin tưởng, trong số đó có thể kể đến như: Trả góp ACS, trả góp PPF, trả góp Mirea Asset, trả góp HD SAISON ... Cùng với hình thức trả góp trực tiếp theo kiểu truyền thống, hiện nay còn có thêm hình thức trả góp online hay trả góp qua thẻ tín dụng… nhiều loại hình trả góp nhằm đáp ứng nhu cầu đa dạng của nhiều đối tượng khách hàng có điều kiện kinh tế khác nhau.
            </p>

            <h3 class="page__sub-heading">Chọn công ty nào để mua hàng trả góp?</h3>

            <div class="page__img">
                <img src="https://hc.com.vn/i/ecommerce/media/ckeditor_2069716.jpg" alt="">
            </div>
            <p>Hiện nay, toàn bộ hệ thống siêu thị Điện máy HC đều hỗ trợ các đơn vị trả góp phổ biến, uy tín và được nhiều người dùng tin tưởng như: ACS, PPF, Mirea Asset, HD SAISON...</p>

            <p>Có 2 cách thức để khách hàng lựa chọn mua trả góp</p>
            <p><span>1. Trả góp qua thẻ tín dụng:</span>Nhanh chóng, không mất thời gian làm hồ sơ...Xem thêm chi tiết
                <a href="">TẠI ĐÂY!</a> </p>
            <p><span>2. Trả góp qua các công ty tài chính:</span> Thủ tục và điều kiện được nêu cụ thể như bảng sau:</p>

            <table>
                <tr>
                    <th>STT</th>
                    <th>CÔNG TY TÀI CHÍNH</th>
                    <th>ACS</th>
                    <th>PPF</th>
                    <th>FE Credit</th>
                    <th>HD SAISON</th>
                </tr>
                <tr>
                    <td>1</td>
                    <th>ĐỘ TUỔI</th>
                    <td>18 - 65 tuổi</td>
                    <td>18 - 60 tuổi</td>
                    <td>20 - 60 tuổi</td>
                    <td>19 - 70 tuổi</td>
                </tr>
                <tr>
                    <td>2</td>
                    <th>% Lãi suất</th>
                    <td>1.74%</td>
                    <td>Từ 1.91%</td>
                    <td>--</td>
                    <td>2.75%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <th>KÌ HẠN (THÁNG)</th>
                    <td>6, 12, 15, 24 tháng tùy theo HĐ kí với khách hàng</td>
                    <td>Từ 4 tới 24 tháng</td>
                    <td>từ 3 tới 18 tháng</td>
                    <td>Từ 6 đến 24 tháng ( tùy theo KH lựa chọn )</td>
                </tr>
                <tr>
                    <td>4</td>
                    <th>KHOẢN TRẢ TRƯỚC

                        TỐI THIẾU (%)</th>
                    <td>20% - 70% </td>
                    <td>>=10%</td>
                    <td>0% - 99%</td>
                    <td>Từ 0% đến 70% </td>
                </tr>
                <tr>
                    <td>5</td>
                    <th>THỦ TỤC/ GIẤY TỜ</th>
                    <td>* Đối với khoản vay <10 triệu: Chứng mình nhân dân + bằng lái xe</br>
                        * Đối với khoản vay >= 10 triệu: Chứng minh nhân dân + sổ hộ khẩu + bảo hiểm y tế + hóa đơn điện   </td>
                    <td>CMND + Bằng lái xe/Sổ hộ khẩu cho toàn bộ khoản vay</td>
                    <td>Bắt buộc (Bản chính hoặc sao y chứng thực nguyên cuốn 90 ngày gần nhất) - có thể thay thế bằng giấy phép lái xe trong các trường hợp sau:
                        1/ IR = 0
                        - LA <= 10 triệu VNĐ
                        2/ IR > 0
                        - DP > 10%</td>
                    <td>* <span>Viễn thông</span>: CMND + Hộ khẩu /bằng lái < 20 triệu;</br>
                        * CMND + bằng lái/bằng lái + POA > 20 triệu;</br>
                        * CMND +hộ khẩu /bằng lái + POA + POI >30 triệu;</br>
                        * <span>Điện máy</span> : CMND + Hộ khẩu /bằng lái < 30 triệu</br>
                        * CMND + Hộ khẩu /bằng lái + POA + POI > 30 triệu</br>
                        ( POA: hóa đơn điện, nước, điện thoại…
                        POI: HĐLĐ/ thẻ BHYT + bảng lương nếu KH là công nhân viên , ĐKKD + biên lai thuế nếu KH tự kinh doanh )</td>
                </tr>
                <tr>
                    <td>6</td>
                    <th>PHÍ HỒ SƠ</th>
                    <td>- Khoản vay <10 triệu: 250,000Đ</br>
                        - Khoản vay >= 10 triệu: 300,000Đ</td>
                    <td>không có</td>
                    <td>không có</td>
                    <td>không có</td>
                </tr>
                <tr>
                    <td>7</td>
                    <th>PHÍ BẢO HIỂM (% của khoản nợ lại/năm)</th>
                    <td>không có</td>
                    <td>tối đa 6%  (không bắt buộc)</td>
                    <td>5%</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>8</td>
                    <th>PHÍ THU HỘ</th>
                    <td>không có</td>
                    <td>11,000Đ/tháng</td>
                    <td>12,000Đ/tháng</td>
                    <td>12,000Đ/tháng</td>
                </tr>
                <tr>
                    <td>9</td>
                    <th>THỜI GIAN DUYỆT</th>
                    <td>5 - 30 phút</td>
                    <td>5 - 15 phút</td>
                    <td>5 - 15 phút</td>
                    <td>10 - 20 phút</td>
                </tr>
                <tr>
                    <td>10</td>
                    <th>ƯU ĐÃI ĐẶC BIỆT DÀNH CHO

                        KHÁCH HÀNG THÀNH VIÊN

                        (CỦA ĐỐI TÁC TÀI CHÍNH)</th>
                    <td> Đối với khoản vay <8 triệu: giấy tờ cần thiết chỉ cần CMND và có thể trả trước 0 đồng</br>

                        - Giảm 50% tiền lãi suất nếu KH tất toán hợp đồng sớm và có thể mua nhiều sản phẩm /1 hợp đồng,không giới hạn khoản vay.</br>

                        - Giảm % lãi suất khoản vay từ 1.74% xuống còn 1.53%</td>
                    <td>KH đã từng làm hợp đồng trả góp ( và có lịch sử đóng tiền tốt) với PPF sẽ được hưởng quyền ưu đãi vay khi sử dụng các dịch vụ bán chéo của PPF (như vay tiền mặt, tặng thẻ Credit Card…) hoặc từng chương trình tại từng thời điểm.</td>
                    <td>KH đã từng làm hợp đồng trả góp ( và có lịch sử đóng tiền tốt) với FECredit sẽ được hưởng quyền ưu đãi vay khi sử dụng các dịch vụ bán chéo của FECredit (như vay tiền mặt, tặng thẻ Credit Card…) hoặc từng chương trình tại từng thời điểm.</td>
                    <td>Hoàn tiền lên đến 12 triệu đồng cho tất cả khách hàng, trả trước chỉ 10%, </td>
                </tr>
                <tr>
                    <td>11</td>
                    <th>CHÍNH SACH ĐỔI TRẢ

                        HÀNG TRẢ GÓP</th>
                    <td colspan="4">Theo chính sách công ty HC</td>

                </tr>
                <tr>
                    <td>12</td>
                    <th>PHÍ  PHẠT ĐÓNG TRỄ/TẤT TOÁN TRƯỚC HẠN</br>

                        (tính từ ngày phải nộp tiền góp)</th>
                    <td>Từ ngày thứ 10 mới bắt đầu đóng phạt là 35,000Đ và mỗi ngày tiếp theo sẽ tịnh tiến tăng thêm 5,000Đ/ngày.</br>

                        (KHÔNG mất phí tất toán trước hạn)</td>
                    <td><span>Tiền phạt chậm thanh toán </span>= Lãi trên dư nợ gốc bị quá hạn <span>(A)</span> + Lãi trên tiền lãi chậm trả <span>(B)</span>
                        Trong đó:</br>
                        <span>A</span>= (150% x Lãi suất trong hạn thông thường x Số dư nợ gốc bị quá hạn/360 ngày) x số ngày chậm trả</br>
                        <span>B</span>= (10% x Tiền lãi chậm trả/365 ngày) x Số ngày chậm trả</br>

                        Ví dụ: Khách hàng vay: 12,000,000 VNĐ; Kỳ hạn: 12 tháng; Lãi suất trong hạn thông thường theo quy định trong hợp đồng tín dụng: 36,5%/năm (~3%/tháng)=> Số tiền góp hàng tháng: 1.360.000 VNĐ (bao gồm 1,000,000 VNĐ tiền gốc và 360,000 VNĐ tiền lãi)
                        Nếu khách hàng <span>đóng trễ 15 ngày</span> trong tháng đầu tiên:</br>
                        --> <span>Tiền phạt chậm thanh toán </span>= [(150% x 36% x 1,000,000/360) x 15] + [(10% x 360,000/365) x 15] = ~ 23,979 VNĐ</td>
                    <td> Phí tất toán trước hạn  bằng 5% số tiền gốc còn nợ.</br>
                        - Phí phạt trễ hạn:</br>
                        1. Đối với nợ gốc: 150% lãi suất trong hạn thông thường</br>
                        2. Đối với tiền lãi: 10%/năm</td>
                    <td>- Phí tất toán trước thời hạn bằng 6% số tiền còn nợ.</br>

                        '- Nếu tháng nào chậm thanh toán, lãi suất bằng 150% lãi suất ngân hàng hiện hành cho khoản chưa thanh toán của tháng đó.</td>
                </tr>
                <tr>
                    <td>13</td>
                    <th>TRẢ GÓP 0% LÃI SUẤT</th>
                    <td>Trả góp 0%, kỳ hạn 6 tháng , Áp dụng cho KHOẢN VAY từ 3 triệu trở lên (không giới hạn khoản vay)</td>
                    <td>Trả góp 0%, kỳ hạn 6 tháng cho sản phẩm >= 7 triệu & kì hạn 4 tháng cho sản phẩm <7 triệu   , Áp dụng cho khoản vay từ 1 triệu đến 40 triệu</td>
                    <td>Trả góp 0%, trả trước từ 0%. Kỳ hạn 4 tháng,6 tháng và 9 tháng, Khoản vay từ 2 -20 triệu</td>
                    <td>Trả góp 0%, kỳ hạn 6 tháng , Áp dụng cho KHOẢN VAY từ 3.5 triệu đến 50 triệu</td>
                </tr>

            </table>
            <span>Vui lòng gọi 18001788 (miễn phí)  để được tư vấn trực tiếp!</span>
        </div>
    </div>
    <footer class="footer">
        <%-include("ngoc_footer")%>
    </footer>

</body>

</html>