<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("head")%>
    <title>Sản Phẩm Quan Tâm</title>
    <%-include("ngoc_head")%>
    <link rel="stylesheet" href="./css/giohang.css">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/7fbca7d9d5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <%-include("ngoc_header")%>
        <!--    modal form account login-->
        <%-include("modal_form_login")%>
    </header>

    <div class="main">
        <div class="container">
            <div class="row">
                <div class="title-dau-trang">
                    <p>
                        <a href="/">
                            <i class="fas fa-backward"></i>
                            Xem thêm sản phẩm
                        </a>
                    </p>
                    <p>Sản phẩm bạn đang quan tâm</p>
                </div>
                <div class="section">
                    <div class="product-class">

                    </div>
                    <div class="nut-mua-hang">
                        <div class="sum-tien">
                            
                        </div>
                        <div class="d-grid gap-2">
                            <button name="muahet" class="btn btn-primary" type="submit">Mua Hết</button>
                          </div>
                    </div>
                </div>
                <p class="chantrang">Cảm ơn quý khách</p> 
            </div>
        </div>
    </div>

    <footer class="footer">
        <%-include("ngoc_footer")%>
    </footer>

    <script src="./js/sp-quantam.js"></script>
</body>
</html>